<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="product">
      <h2 data-cy="productDetailsHeading"><span jhiTranslate="inversionApp.product.detail.title">Product</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ product.id }}</span>
        </dd>
        <dt><span jhiTranslate="inversionApp.product.rut">Rut</span></dt>
        <dd>
          <span>{{ product.rut }}</span>
        </dd>
        <dt><span jhiTranslate="inversionApp.product.initialInvestment">Initial Investment</span></dt>
        <dd>
          <span>{{ product.initialInvestment }}</span>
        </dd>
        <dt><span jhiTranslate="inversionApp.product.totalAmount">Total Amount</span></dt>
        <dd>
          <span>{{ product.totalAmount }}</span>
        </dd>
        <dt><span jhiTranslate="inversionApp.product.productType">Product Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'inversionApp.ProductType.' + product.productType }}">{{ product.productType }}</span>
        </dd>
        <dt><span jhiTranslate="inversionApp.product.date">Date</span></dt>
        <dd>
          <span>{{ product.date | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
